a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}

nav ul li{
    display: inline;
    padding:15px;
    font-size: 55px;
    background-color: gray;
}
nav{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: aliceblue;
    padding: 20px;
}