#imgs{
    display: flex;
    flex-direction: row;
}
#imgs img{
    margin-right: 20px;
}
body{
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 50px;
    background-color: rgb(245,245,245);
}
#oceanZones p{
    margin-left: 80x;
}
#rates ul{
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
#rates h5{
    margin-bottom: 0;
    margin-top: 0;
}
#navbar ul li{
    display:block;
    font-size: 28px;
    margin-right: 20px;
    color: black;
    background-color: gray;
    padding:8px
}
#navbar ul li a{
    color: black;
}
#navbar ul li a:hover{
    color: white;
}
a{
    text-decoration: none;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.bigSection >section{
    padding-left: 70px;
}
#navbar ul{
    padding: 0;
    
}
#navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;
    padding-left: 25px;
    position: fixed;
    top: 200px;
    left: 250px;
    width: 200px;
}
#navbar h2{
    margin-right: 25px;
}